{% extends "base.html" %}
{% set active_page = "about" %}
{% block page_content %}
  <div class="jumbotron">
    <div class="container">
      <h1>Poligraphed</h1>
      <p> Creating compelling web applications </p>
    </div>
  </div>
  <div class="wrapper">
    <div class="box">
        <div class="row">
          
                        
                        <div class="col-sm-12" id="featured">   
                          <div class="page-header text-muted">
                          Our Team
                          </div> 
                        </div>
                        
              
                        <div class="row">    
                          <div class="col-sm-10">
                            <h3>Jordan Dietch</h3>

                            <h4><a href="https://github.com/jordandietch" <span class="label label-default">Poli-Founder</span></h4><h4></a>
                            <small class="text-muted">Front End • Project Lead<a href="#" class="text-muted"> </a></small>
                            </h4>
                          </div>
                          <div class="col-sm-2">
                            <a href="#" class="pull-right"><img src="http://photos2.meetupstatic.com/photos/member/b/6/e/6/highres_178786822.jpeg" class="img-circle"  height="160" width="160"></a>
                          </div> 
                        </div>
                        
                        <div class="col-sm-12" id="stories">  
                          <div class="page-header text-muted divider">

                          </div>
                        </div>
                         
                        <div class="row">    
                          <div class="col-sm-10">
                            <h3>Chet Meinzer</h3>
                            <h4><a href="http://www.chetmeinzer.com" <span class="label label-default">ChetMeinzer.com</span></h4><h4></a>
                            <small class="text-muted"><a href="http://www.ratemyprofessors.com/ShowRatings.jsp?tid=1438143" class="text-muted">Data Scientist • Systems Analyst </a></small>
                            </h4>
                          </div>
                          <div class="col-sm-2">
                            <a href="http://www.chetmeinzer.com" class="pull-right"><img src="http://www.dyja.com/sites/default/files/Chet_Meinzer.jpg" class="img-circle" height="176" width="137"></a>
                          </div> 
                        </div>                        
                        <div class="row divider">    
                           <div class="col-sm-12"><hr></div>
                        </div>
                        
        </div>
    </div>
</div>
{% endblock %}
